	table {
				color: green;
			}

	b[height="50px"] {
		color: orange;
	}

	.privet {
		color: purple;
	}

	#ideveloper {
		font-weight: bold;}

	html tr {
		color: yellow;
	}

	.list > li {
		color: blue;
	}

	.font-size-md {
		font-size: 18px;
	}

	.font-size-md.color-red {
		color: red;
	}

	.font-size-md.color-gray {
		color: gray;
	}