

#intro {
    color: red;
    background-color: gray;
}

#intro .first em {
    color: pink; 
    background-color:gray;
}

/* разные слили шрифтов 5 шт ниже*/
p.serif {
    font-family: "Times New Roman", Times, serif;
}
p.sansserif {
    font-family: Helvetica, Arial, sans-serif;
}
p.monospace {
    font-family: "Courier New", Courier, monospace;
}
p.cursive {
    font-family: Florence, cursive;
}
p.fantasy {
    font-family: Blippo, fantasy;
}

/*разные размеры шрифтов ниже */

p.small {
    font-size: small;
}
p.medium {
    font-size: medium;
}
p.large {
    font-size: large;
}
p.xlarge {
    font-size: x-large;
}

h1 { font-size: 50px;}

p.italic {
    font-style: italic;
}

/* курсивное начертание*/

p.normal {
    font-style: normal;
}
p.italic {
    font-style: italic;
}
p.oblique {
    font-style: oblique;
}

/*толщина текста,шрифта */

p.light {   
    font-weight: lighter;
}
p.bold {   
    font-weight: bold;
}
p.bolder {
    font-weight: bolder;
}

/*толщина текста,шрифта */

p.light {
    font-weight: lighter;
}
p.thick {
    font-weight: bold;
}
p.thicker {
    font-weight: 700;
}

/* конвертация шрифта в маленькие заглавные буквы */

p.normal {
    font-variant: normal;
}
p.small {
    font-variant: small-caps;
}

/* цвета */
p.example {
    color: green;
}

/* заголовок голубой, параграф красный */
h1 {
    color: #0000FF;
}
p.example {
    color: rgb(255,0,0);
}